-
	var siteName = "Base template"
	var mainMenu = [
		{
			"title": "головна",
			"link": "/"
		},
		{
			"title": "контакти",
			"link": "/contacts.html"
		},
		{	
			"title": "про мене",
			"link": "/about.html"
		}
	]