extends ../layouts/simple.layout.pug
block variables
	-
		var pageTitle = "homepage"	
block content
	.title
		.inside-title
			|My Awesome Title
	.wrapper
		.left-side
		.right-side
			ol
				li 
					span dejfj efdg gdfkmgk fkmfkm
				li 
					span kfdfkdgg
				li 
					span eforok wskdjwd uthguthgtu lxddk


